<a href="https://colab.research.google.com/github/SangeethaPaulraj26/DataScience/blob/main/python6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Find N largest numbers**

In [8]:
def find_n_lar_ele(lst, n):

  sorted_list=sorted(lst, reverse=True)
  lar_ele=sorted_list[:n]
  return lar_ele

numbers=[250,1,2,3,4,5,67,78,888,999,000,123,345,567]
N=int(input("N:"))
list=find_n_lar_ele(numbers,N)
print(list)

N:3
[999, 888, 567]

**Print Even Numbers**

In [11]:
numbers = [1,2,3,4,5,6,7,8,9,10]

even=[num for num in numbers if num%2==0]
print("Even numbers:", even)

Even numbers: [2, 4, 6, 8, 10]

**Print odd numbers**

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10]

odd=[num for num in numbers if num%2!=0]
print("odd numbers:", odd)

odd numbers: [1, 3, 5, 7, 9]

**Remove empty list**

In [15]:
lists=[[1,2,3], [],[3],[4,5],[]]

filteres=[i for i in lists if i]

print("filtered_list:", filteres)

filtered_list: [[1, 2, 3], [3], [4, 5]]

**Cloning or copying the list**

In [16]:
list = [11,22,33,44,55]

cloned_list=list[:]
print(cloned_list)

[11, 22, 33, 44, 55]

**count occurences of an element**

In [22]:
def count_occurences(l,element):
  count=l.count(element)
  return count


numbers=[1,2,3,4,5,6,6,5,9,2,8,6,9,2,5,6,7,7,7,8,9]
event=int(input("count:"))
numbers_of_occurences=count_occurences(numbers,event)
print(numbers_of_occurences)

count:6
4

**Fing words greater than length k**

In [33]:
def find_words(words, k):
  result =[]

  for i in words:
    if len(i) > k:
      result.append(i)
  return result

word=["apple", "banana", "citrus", "dragonfruit", "fig", "guava"]
k=4

result=find_words(word,k)
print(result)

['apple', 'banana', 'citrus', 'dragonfruit', 'guava']

**Find the ith element**

In [13]:
def find_element(input_str, i):
    # Check if the index is out of bounds
    if i < 0 or i >= len(input_str):
        print("Input is invalid: index out of range.")
        return input_str

    # Remove the character at the given index
    result_str = input_str[:i] + input_str[i + 1:]
    return result_str


# Input string and index
input_str = "Hi, howw are you?"
i = 6

# Call the function
new_str = find_element(input_str, i)

# Print the results
print(f"Original string: {input_str}")
print(f"Modified string: {new_str}")

Original string: Hi, howw are you?
Modified string: Hi, how are you?

**Split and Join String**

In [15]:
input_str="My name is Aaryan and I am a Super Hero"
words_split=input_str.split()

seperator=" "
output_str=seperator.join(words_split)

print(input_str)
print(words_split)
print(output_str)

My name is Aaryan and I am a Super Hero
['My', 'name', 'is', 'Aaryan', 'and', 'I', 'am', 'a', 'Super', 'Hero']
My name is Aaryan and I am a Super Hero

**Check if the string is binary**

In [18]:
def bin_check(input_str):
  for i in input_str:
    if i not in '01':
      return False
  return True

input="110111011"

if bin_check(input):
  print("It is binary")
else:
  print("It is not binary")

It is binary

In [ ]:
i