<a href="https://colab.research.google.com/github/SangeethaPaulraj26/DataScience/blob/main/python6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Find N largest numbers**

In [8]:
def find_n_lar_ele(lst, n):

  sorted_list=sorted(lst, reverse=True)
  lar_ele=sorted_list[:n]
  return lar_ele

numbers=[250,1,2,3,4,5,67,78,888,999,000,123,345,567]
N=int(input("N:"))
list=find_n_lar_ele(numbers,N)
print(list)

N:3
[999, 888, 567]

**Print Even Numbers**

In [11]:
numbers = [1,2,3,4,5,6,7,8,9,10]

even=[num for num in numbers if num%2==0]
print("Even numbers:", even)

Even numbers: [2, 4, 6, 8, 10]

**Print odd numbers**

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10]

odd=[num for num in numbers if num%2!=0]
print("odd numbers:", odd)

odd numbers: [1, 3, 5, 7, 9]

**Remove empty list**

In [15]:
lists=[[1,2,3], [],[3],[4,5],[]]

filteres=[i for i in lists if i]

print("filtered_list:", filteres)

filtered_list: [[1, 2, 3], [3], [4, 5]]

**Cloning or copying the list**

In [16]:
list = [11,22,33,44,55]

cloned_list=list[:]
print(cloned_list)

[11, 22, 33, 44, 55]

**count occurences of an element**

In [22]:
def count_occurences(l,element):
  count=l.count(element)
  return count


numbers=[1,2,3,4,5,6,6,5,9,2,8,6,9,2,5,6,7,7,7,8,9]
event=int(input("count:"))
numbers_of_occurences=count_occurences(numbers,event)
print(numbers_of_occurences)

count:6
4